
<configuration>
    <appender name="logcat" class="ch.qos.logback.classic.android.LogcatAppender">
        <tagEncoder>
            <pattern>%class{0}</pattern>
        </tagEncoder>
        <encoder>
            <pattern>%msg</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="logcat" />
    </root>

    <logger name="Community" level="WARN" />
    <logger name="DiscoveryCommunity" level="WARN" />
    <logger name="TrustChainCommunity" level="WARN" />
    <logger name="RandomChurn" level="WARN" />
    <logger name="UTPReadingRunnable" level="WARN" />
    <logger name="UTPSocketChannelImpl" level="WARN" />
    <logger name="UTPSocketBinder" level="WARN" />
</configuration>
