{
  "fixedValues": {
    "runner": "simulated",
    "iterations": "600",
    "batchSize": "batch_5",
    "iteratorDistribution": "[10, 10, 10, 10, 10, 10, 10, 10, 10, 10]",
    "maxTestSample": "num_100",
    "optimizer": "adam",
    "learningRate": "rate_1em3",
    "momentum": "none",
    "l2Regularization": "l2_5em3",
    "epoch": "epoch_50",
    "communicationPattern": "all"
  },
  "figures": [
    {
      "name": "Figure 0.1",
      "fixedValues": {
        "dataset": "mnist",
        "behavior": "benign",
        "modelPoisoningAttack": "none",
        "numNodes": "50",
        "numAttackers": "num_0"
      },
      "tests": [
        {"gar": "average"},
        {"gar": "median"},
        {"gar": "cwtrimmedmean"},
        {"gar": "krum"},
        {"gar": "bridge"},
        {"gar": "mozi"},
        {"gar": "bristle"}
      ]
    },
    {
      "name": "Figure 0.2",
      "fixedValues": {
        "dataset": "mnist",
        "behavior": "benign",
        "modelPoisoningAttack": "none",
        "numNodes": "50",
        "numAttackers": "num_0",
        "firstNodeSpeed": "1"
      },
      "tests": [
        {"gar": "average"},
        {"gar": "median"},
        {"gar": "cwtrimmedmean"},
        {"gar": "krum"},
        {"gar": "bridge"},
        {"gar": "mozi"},
        {"gar": "bristle"}
      ]
    },
    {
      "name": "Figure 0.3",
      "fixedValues": {
        "dataset": "mnist",
        "behavior": "benign",
        "modelPoisoningAttack": "none",
        "numNodes": "50",
        "numAttackers": "num_0",
        "firstNodeJoiningLate": "true"
      },
      "tests": [
        {"gar": "average"},
        {"gar": "median"},
        {"gar": "cwtrimmedmean"},
        {"gar": "krum"},
        {"gar": "bridge"},
        {"gar": "mozi"},
        {"gar": "bristle"}
      ]
    },
    {
      "name": "Figure 0.4",
      "fixedValues": {
        "dataset": "mnist",
        "behavior": "benign",
        "modelPoisoningAttack": "none",
        "numNodes": "50",
        "numAttackers": "num_0",
        "firstNodeJoiningLate": "true"
      },
      "tests": [
        {"gar": "average"},
        {"gar": "median"},
        {"gar": "cwtrimmedmean"},
        {"gar": "krum"},
        {"gar": "bridge"},
        {"gar": "mozi"},
        {"gar": "bristle"}
      ],
      "iteratorDistributions": [
        [500, 500, 500, 500, 0, 0, 0, 0, 0, 0],
        [0, 500, 500, 500, 500, 0, 0, 0, 0, 0],
        [0, 0, 500, 500, 500, 500, 0, 0, 0, 0],
        [0, 0, 0, 500, 500, 500, 500, 0, 0, 0],
        [0, 0, 0, 0, 500, 500, 500, 500, 0, 0],
        [0, 0, 0, 0, 0, 500, 500, 500, 500, 0],
        [0, 0, 0, 0, 0, 0, 500, 500, 500, 500],
        [500, 0, 0, 0, 0, 0, 0, 500, 500, 500],
        [500, 500, 0, 0, 0, 0, 0, 0, 500, 500],
        [500, 500, 500, 0, 0, 0, 0, 0, 0, 500]
      ]
    },






    {
      "name": "Figure 1.1",
      "fixedValues": {
        "dataset": "mnist",
        "behavior": "benign",
        "modelPoisoningAttack": "none",
        "numNodes": "50",
        "numAttackers": "num_0"
      },
      "tests": [
        {"gar": "average"},
        {"gar": "median"},
        {"gar": "cwtrimmedmean"},
        {"gar": "krum"},
        {"gar": "bridge"},
        {"gar": "mozi"},
        {"gar": "bristle"}
      ]
    },
    {
      "name": "Figure 1.2",
      "fixedValues": {
        "dataset": "cifar10",
        "behavior": "benign",
        "modelPoisoningAttack": "none",
        "numNodes": "50",
        "numAttackers": "num_0"
      },
      "tests": [
        {"gar": "average"},
        {"gar": "median"},
        {"gar": "cwtrimmedmean"},
        {"gar": "krum"},
        {"gar": "bridge"},
        {"gar": "mozi"},
        {"gar": "bristle"}
      ]
    },
    {
      "name": "Figure 1.3",
      "fixedValues": {
        "dataset": "har",
        "behavior": "benign",
        "modelPoisoningAttack": "none",
        "numNodes": "50",
        "numAttackers": "num_0"
      },
      "tests": [
        {"gar": "average"},
        {"gar": "median"},
        {"gar": "cwtrimmedmean"},
        {"gar": "krum"},
        {"gar": "bridge"},
        {"gar": "mozi"},
        {"gar": "bristle"}
      ]
    },


    {
      "name": "Figure 2.1",
      "fixedValues": {
        "dataset": "mnist",
        "behavior": "benign",
        "modelPoisoningAttack": "none",
        "numNodes": "10",
        "numAttackers": "num_0"
      },
      "tests": [
        {"gar": "average"},
        {"gar": "median"},
        {"gar": "cwtrimmedmean"},
        {"gar": "krum"},
        {"gar": "bridge"},
        {"gar": "mozi"},
        {"gar": "bristle"}
      ]
    },
    {
      "name": "Figure 2.2",
      "fixedValues": {
        "dataset": "cifar10",
        "behavior": "benign",
        "modelPoisoningAttack": "none",
        "numNodes": "50",
        "numAttackers": "num_0"
      },
      "tests": [
        {"gar": "average"},
        {"gar": "median"},
        {"gar": "cwtrimmedmean"},
        {"gar": "krum"},
        {"gar": "bridge"},
        {"gar": "mozi"},
        {"gar": "bristle"}
      ]
    },
    {
      "name": "Figure 2.3",
      "fixedValues": {
        "dataset": "har",
        "behavior": "benign",
        "modelPoisoningAttack": "none",
        "numNodes": "250",
        "numAttackers": "num_0"
      },
      "tests": [
        {"gar": "average"},
        {"gar": "median"},
        {"gar": "cwtrimmedmean"},
        {"gar": "krum"},
        {"gar": "bridge"},
        {"gar": "mozi"},
        {"gar": "bristle"}
      ]
    }
  ]
}
