{
  "fixedValues": {
    "batchSize": "batch_5",
    "iteratorDistribution": "[10, 10, 10, 10, 10, 10, 10, 10, 10, 10]",
    "maxTestSample": "num_10",
    "maxIterations": "iter_100",
    "optimizer": "adam",
    "learningRate": "rate_1em3",
    "momentum": "none",
    "l2Regularization": "l2_5em3",
    "communicationPattern": "all",
    "iterationsBeforeEvaluation": "10",
    "iterationsBeforeSending": "1"
  },
  "figures": [
    {
      "name": "Figure MinBound",
      "fixedValues": {
        "dataset": "mnist",
        "behavior": "benign",
        "modelPoisoningAttack": "none",
        "numNodes": "1",
        "numAttackers": "num_0"
      },
      "tests": [
        {"gar": "average"}
      ]
    },
    {
      "name": "Figure MaxBound",
      "fixedValues": {
        "dataset": "mnist",
        "behavior": "benign",
        "modelPoisoningAttack": "none",
        "numNodes": "1",
        "numAttackers": "num_0",
        "iteratorDistribution": "[5000, 5000, 5000, 5000, 5000, 5000, 5000, 5000, 5000, 5000]"
      },
      "tests": [
        {"gar": "average"}
      ]
    },

    {
      "name": "Figure 0.1",
      "fixedValues": {
        "dataset": "mnist",
        "behavior": "benign",
        "modelPoisoningAttack": "none",
        "numNodes": "9",
        "numAttackers": "num_0",
        "firstNodeSpeed": "-5"
      },
      "tests": [
        {"gar": "average"},
        {"gar": "median"},
        {"gar": "krum"},
        {"gar": "bridge"},
        {"gar": "mozi"},
        {"gar": "bristle"}
      ]
    },
    {
      "name": "Figure 0.2",
      "fixedValues": {
        "dataset": "mnist",
        "behavior": "benign",
        "modelPoisoningAttack": "none",
        "numNodes": "9",
        "numAttackers": "num_0",
        "firstNodeSpeed": "5"
      },
      "tests": [
        {"gar": "average"},
        {"gar": "median"},
        {"gar": "krum"},
        {"gar": "bridge"},
        {"gar": "mozi"},
        {"gar": "bristle"}
      ]
    },
    {
      "name": "Figure 0.3",
      "fixedValues": {
        "dataset": "mnist",
        "maxIterations": "iter_200",
        "behavior": "benign",
        "modelPoisoningAttack": "none",
        "numNodes": "9",
        "numAttackers": "num_0",
        "firstNodeJoiningLate": "true"
      },
      "tests": [
        {"gar": "average"},
        {"gar": "median"},
        {"gar": "krum"},
        {"gar": "bridge"},
        {"gar": "mozi"},
        {"gar": "bristle"}
      ]
    },
    {
      "name": "Figure 0.4",
      "fixedValues": {
        "dataset": "mnist",
        "maxIterations": "iter_300",
        "behavior": "benign",
        "modelPoisoningAttack": "none",
        "numNodes": "9",
        "numAttackers": "num_0"
      },
      "tests": [
        {"gar": "average"},
        {"gar": "median"},
        {"gar": "krum"},
        {"gar": "bridge"},
        {"gar": "mozi"},
        {"gar": "bristle"}
      ],
      "iteratorDistributions": [
        "[50, 50, 50, 50, 0, 0, 0, 0, 0, 0]",
        "[0, 50, 50, 50, 50, 0, 0, 0, 0, 0]",
        "[0, 0, 50, 50, 50, 50, 0, 0, 0, 0]",
        "[0, 0, 0, 50, 50, 50, 50, 0, 0, 0]",
        "[0, 0, 0, 0, 50, 50, 50, 50, 0, 0]",
        "[0, 0, 0, 0, 0, 50, 50, 50, 50, 0]",
        "[0, 0, 0, 0, 0, 0, 50, 50, 50, 50]",
        "[50, 0, 0, 0, 0, 0, 0, 50, 50, 50]",
        "[50, 50, 0, 0, 0, 0, 0, 0, 50, 50]",
        "[50, 50, 50, 0, 0, 0, 0, 0, 0, 50]"
      ]
    },






    {
      "name": "Figure 1.1",
      "fixedValues": {
        "dataset": "mnist",
        "behavior": "benign",
        "modelPoisoningAttack": "none",
        "numNodes": "50",
        "numAttackers": "num_0"
      },
      "tests": [
        {"gar": "average"},
        {"gar": "median"},
        {"gar": "krum"},
        {"gar": "bridge"},
        {"gar": "mozi"},
        {"gar": "bristle"}
      ]
    },
    {
      "name": "Figure 1.2",
      "fixedValues": {
        "dataset": "cifar10",
        "batchSize": "batch_32",
        "maxIterations": "iter_300",
        "behavior": "benign",
        "modelPoisoningAttack": "none",
        "numNodes": "9",
        "numAttackers": "num_0",
        "iteratorDistribution": "[250, 250, 250, 250, 250, 250, 250, 250, 250, 250]"
      },
      "tests": [
        {"gar": "average"},
        {"gar": "median"},
        {"gar": "krum"},
        {"gar": "bridge"},
        {"gar": "mozi"},
        {"gar": "bristle"}
      ]
    },
    {
      "name": "Figure 1.3",
      "fixedValues": {
        "dataset": "har",
        "batchSize": "batch_32",
        "behavior": "benign",
        "modelPoisoningAttack": "none",
        "numNodes": "9",
        "numAttackers": "num_0",
        "iteratorDistribution": "[50, 50, 50, 50, 50, 50]"
      },
      "tests": [
        {"gar": "average"},
        {"gar": "median"},
        {"gar": "krum"},
        {"gar": "bridge"},
        {"gar": "mozi"},
        {"gar": "bristle"}
      ]
    },
    {
      "name": "Figure 3.1",
      "fixedValues": {
        "dataset": "mnist",
        "behavior": "noise",
        "modelPoisoningAttack": "none",
        "numNodes": "9",
        "numAttackers": "num_4"
      },
      "tests": [
        {"gar": "average"},
        {"gar": "median"},
        {"gar": "krum"},
        {"gar": "bridge"},
        {"gar": "mozi"},
        {"gar": "bristle"}
      ]
    },
    {
      "name": "Figure 3.2",
      "fixedValues": {
        "dataset": "mnist",
        "behavior": "label_flip_2",
        "modelPoisoningAttack": "none",
        "numNodes": "9",
        "numAttackers": "num_4"
      },
      "tests": [
        {"gar": "average"},
        {"gar": "median"},
        {"gar": "krum"},
        {"gar": "bridge"},
        {"gar": "mozi"},
        {"gar": "bristle"}
      ]
    },
    {
      "name": "Figure 3.3",
      "fixedValues": {
        "dataset": "mnist",
        "behavior": "label_flip_all",
        "modelPoisoningAttack": "none",
        "numNodes": "9",
        "numAttackers": "num_4"
      },
      "tests": [
        {"gar": "average"},
        {"gar": "median"},
        {"gar": "krum"},
        {"gar": "bridge"},
        {"gar": "mozi"},
        {"gar": "bristle"}
      ]
    },
    {
      "name": "Figure 3.4",
      "fixedValues": {
        "dataset": "mnist",
        "behavior": "benign",
        "modelPoisoningAttack": "fang_2020_krum",
        "numNodes": "9",
        "numAttackers": "num_20"
      },
      "tests": [
        {"gar": "average"},
        {"gar": "median"},
        {"gar": "krum"},
        {"gar": "bridge"},
        {"gar": "mozi"},
        {"gar": "bristle"}
      ]
    },
    {
      "name": "Figure 3.5",
      "fixedValues": {
        "dataset": "mnist",
        "behavior": "benign",
        "modelPoisoningAttack": "fang_2020_trimmed_mean",
        "numNodes": "9",
        "numAttackers": "num_20"
      },
      "tests": [
        {"gar": "average"},
        {"gar": "median"},
        {"gar": "krum"},
        {"gar": "bridge"},
        {"gar": "mozi"},
        {"gar": "bristle"}
      ]
    },


    {
      "name": "Figure 4.1",
      "fixedValues": {
        "dataset": "mnist",
        "behavior": "noise",
        "modelPoisoningAttack": "none",
        "numNodes": "9",
        "numAttackers": "num_10"
      },
      "tests": [
        {"gar": "average"},
        {"gar": "median"},
        {"gar": "krum"},
        {"gar": "bridge"},
        {"gar": "mozi"},
        {"gar": "bristle"}
      ]
    },
    {
      "name": "Figure 4.2",
      "fixedValues": {
        "dataset": "mnist",
        "behavior": "noise",
        "modelPoisoningAttack": "none",
        "numNodes": "9",
        "numAttackers": "num_20"
      },
      "tests": [
        {"gar": "average"},
        {"gar": "median"},
        {"gar": "krum"},
        {"gar": "bridge"},
        {"gar": "mozi"},
        {"gar": "bristle"}
      ]
    },
    {
      "name": "Figure 4.3",
      "fixedValues": {
        "dataset": "mnist",
        "behavior": "noise",
        "modelPoisoningAttack": "none",
        "numNodes": "9",
        "numAttackers": "num_4"
      },
      "tests": [
        {"gar": "average"},
        {"gar": "median"},
        {"gar": "krum"},
        {"gar": "bridge"},
        {"gar": "mozi"},
        {"gar": "bristle"}
      ]
    }
  ]
}
