{
  "fixedValues": {
    "batchSize": "batch_5",
    "iteratorDistribution": "[50, 50, 50, 50, 50, 50, 50, 50, 50, 50]",
    "maxTestSample": "num_100",
    "optimizer": "adam",
    "learningRate": "rate_1em3",
    "momentum": "none",
    "l2Regularization": "l2_5em3",
    "communicationPattern": "all"
  },
  "figures": [
    {
      "name": "Figure 0.1",
      "fixedValues": {
        "dataset": "mnist",
        "maxIterations": "iter_500",
        "behavior": "benign",
        "modelPoisoningAttack": "none",
        "numNodes": "5",
        "numAttackers": "num_0",
        "firstNodeSpeed": "-1"
      },
      "tests": [
        {"gar": "average"},
        {"gar": "median"},
        {"gar": "krum"},
        {"gar": "bridge"},
        {"gar": "mozi"},
        {"gar": "bristle"}
      ]
    },
    {
      "name": "Figure 0.2",
      "fixedValues": {
        "dataset": "mnist",
        "maxIterations": "iter_500",
        "behavior": "benign",
        "modelPoisoningAttack": "none",
        "numNodes": "5",
        "numAttackers": "num_0",
        "firstNodeSpeed": "1"
      },
      "tests": [
        {"gar": "average"},
        {"gar": "median"},
        {"gar": "krum"},
        {"gar": "bridge"},
        {"gar": "mozi"},
        {"gar": "bristle"}
      ]
    },
    {
      "name": "Figure 0.3",
      "fixedValues": {
        "dataset": "mnist",
        "maxIterations": "iter_500",
        "behavior": "benign",
        "modelPoisoningAttack": "none",
        "numNodes": "5",
        "numAttackers": "num_0",
        "firstNodeJoiningLate": "true"
      },
      "tests": [
        {"gar": "average"},
        {"gar": "median"},
        {"gar": "krum"},
        {"gar": "bridge"},
        {"gar": "mozi"},
        {"gar": "bristle"}
      ]
    },
    {
      "name": "Figure 0.4",
      "fixedValues": {
        "dataset": "mnist",
        "maxIterations": "iter_500",
        "behavior": "benign",
        "modelPoisoningAttack": "none",
        "numNodes": "5",
        "numAttackers": "num_0",
        "firstNodeJoiningLate": "true"
      },
      "tests": [
        {"gar": "average"},
        {"gar": "median"},
        {"gar": "krum"},
        {"gar": "bridge"},
        {"gar": "mozi"},
        {"gar": "bristle"}
      ],
      "iteratorDistributions": [
        "[50, 50, 50, 50, 0, 0, 0, 0, 0, 0]",
        "[0, 50, 50, 50, 50, 0, 0, 0, 0, 0]",
        "[0, 0, 50, 50, 50, 50, 0, 0, 0, 0]",
        "[0, 0, 0, 50, 50, 50, 50, 0, 0, 0]",
        "[0, 0, 0, 0, 50, 50, 50, 50, 0, 0]",
        "[0, 0, 0, 0, 0, 50, 50, 50, 50, 0]",
        "[0, 0, 0, 0, 0, 0, 50, 50, 50, 50]",
        "[50, 0, 0, 0, 0, 0, 0, 50, 50, 50]",
        "[50, 50, 0, 0, 0, 0, 0, 0, 50, 50]",
        "[50, 50, 50, 0, 0, 0, 0, 0, 0, 50]"
      ]
    },






    {
      "name": "Figure 1.1",
      "fixedValues": {
        "dataset": "mnist",
        "maxIterations": "iter_500",
        "behavior": "benign",
        "modelPoisoningAttack": "none",
        "numNodes": "5",
        "numAttackers": "num_0"
      },
      "tests": [
        {"gar": "average"},
        {"gar": "median"},
        {"gar": "krum"},
        {"gar": "bridge"},
        {"gar": "mozi"},
        {"gar": "bristle"}
      ]
    },
    {
      "name": "Figure 1.2",
      "fixedValues": {
        "dataset": "cifar10",
        "maxIterations": "iter_250",
        "behavior": "benign",
        "modelPoisoningAttack": "none",
        "numNodes": "5",
        "numAttackers": "num_0"
      },
      "tests": [
        {"gar": "average"},
        {"gar": "median"},
        {"gar": "krum"},
        {"gar": "bridge"},
        {"gar": "mozi"},
        {"gar": "bristle"}
      ]
    },
    {
      "name": "Figure 1.3",
      "fixedValues": {
        "dataset": "har",
        "maxIterations": "iter_250",
        "behavior": "benign",
        "modelPoisoningAttack": "none",
        "numNodes": "5",
        "numAttackers": "num_0"
      },
      "tests": [
        {"gar": "average"},
        {"gar": "median"},
        {"gar": "krum"},
        {"gar": "bridge"},
        {"gar": "mozi"},
        {"gar": "bristle"}
      ]
    },


    {
      "name": "Figure 2.1",
      "fixedValues": {
        "dataset": "mnist",
        "maxIterations": "iter_500",
        "behavior": "benign",
        "modelPoisoningAttack": "none",
        "numNodes": "4",
        "numAttackers": "num_0"
      },
      "tests": [
        {"gar": "average"},
        {"gar": "median"},
        {"gar": "krum"},
        {"gar": "bridge"},
        {"gar": "mozi"},
        {"gar": "bristle"}
      ]
    },
    {
      "name": "Figure 2.2",
      "fixedValues": {
        "dataset": "cifar10",
        "maxIterations": "iter_250",
        "behavior": "benign",
        "modelPoisoningAttack": "none",
        "numNodes": "5",
        "numAttackers": "num_0"
      },
      "tests": [
        {"gar": "average"},
        {"gar": "median"},
        {"gar": "krum"},
        {"gar": "bridge"},
        {"gar": "mozi"},
        {"gar": "bristle"}
      ]
    },
    {
      "name": "Figure 2.3",
      "fixedValues": {
        "dataset": "har",
        "maxIterations": "iter_250",
        "behavior": "benign",
        "modelPoisoningAttack": "none",
        "numNodes": "6",
        "numAttackers": "num_0"
      },
      "tests": [
        {"gar": "average"},
        {"gar": "median"},
        {"gar": "krum"},
        {"gar": "bridge"},
        {"gar": "mozi"},
        {"gar": "bristle"}
      ]
    },
    {
      "name": "Figure 3.1",
      "fixedValues": {
        "dataset": "mnist",
        "maxIterations": "iter_500",
        "behavior": "noise",
        "modelPoisoningAttack": "none",
        "numNodes": "6",
        "numAttackers": "num_0"
      },
      "tests": [
        {"gar": "average"},
        {"gar": "median"},
        {"gar": "krum"},
        {"gar": "bridge"},
        {"gar": "mozi"},
        {"gar": "bristle"}
      ]
    },
    {
      "name": "Figure 3.2",
      "fixedValues": {
        "dataset": "cifar10",
        "maxIterations": "iter_250",
        "behavior": "label_flip",
        "modelPoisoningAttack": "none",
        "numNodes": "6",
        "numAttackers": "num_0"
      },
      "tests": [
        {"gar": "average"},
        {"gar": "median"},
        {"gar": "krum"},
        {"gar": "bridge"},
        {"gar": "mozi"},
        {"gar": "bristle"}
      ]
    },
    {
      "name": "Figure 3.3",
      "fixedValues": {
        "dataset": "har",
        "maxIterations": "iter_250",
        "behavior": "benign",
        "modelPoisoningAttack": "fang_2020_median",
        "numNodes": "6",
        "numAttackers": "num_0"
      },
      "tests": [
        {"gar": "average"},
        {"gar": "median"},
        {"gar": "krum"},
        {"gar": "bridge"},
        {"gar": "mozi"},
        {"gar": "bristle"}
      ]
    },


    {
      "name": "Figure 4.1",
      "fixedValues": {
        "dataset": "mnist",
        "maxIterations": "iter_500",
        "behavior": "noise",
        "modelPoisoningAttack": "none",
        "numNodes": "6",
        "numAttackers": "num_10"
      },
      "tests": [
        {"gar": "average"},
        {"gar": "median"},
        {"gar": "krum"},
        {"gar": "bridge"},
        {"gar": "mozi"},
        {"gar": "bristle"}
      ]
    },
    {
      "name": "Figure 4.2",
      "fixedValues": {
        "dataset": "cifar10",
        "maxIterations": "iter_250",
        "behavior": "label_flip",
        "modelPoisoningAttack": "none",
        "numNodes": "6",
        "numAttackers": "num_75"
      },
      "tests": [
        {"gar": "average"},
        {"gar": "median"},
        {"gar": "krum"},
        {"gar": "bridge"},
        {"gar": "mozi"},
        {"gar": "bristle"}
      ]
    },
    {
      "name": "Figure 4.3",
      "fixedValues": {
        "dataset": "har",
        "maxIterations": "iter_250",
        "behavior": "benign",
        "modelPoisoningAttack": "fang_2020_median",
        "numNodes": "6",
        "numAttackers": "num_175"
      },
      "tests": [
        {"gar": "average"},
        {"gar": "median"},
        {"gar": "krum"},
        {"gar": "bridge"},
        {"gar": "mozi"},
        {"gar": "bristle"}
      ]
    }
  ]
}
