dataset mnist
batchSize batch_5
iteratorDistribution [200, 200, 200, 200, 0, 0, 0, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_1
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 200, 200, 200, 200, 0, 0, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_1
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 200, 200, 200, 200, 0, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_1
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 200, 200, 200, 200, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_1
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 0, 200, 200, 200, 200, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_1
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 0, 0, 200, 200, 200, 200, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_1
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 0, 0, 0, 200, 200, 200, 200]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_1
## end

dataset mnist
batchSize batch_5
iteratorDistribution [200, 0, 0, 0, 0, 0, 0, 200, 200, 200]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_1
## end

dataset mnist
batchSize batch_5
iteratorDistribution [200, 200, 0, 0, 0, 0, 0, 0, 200, 200]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_1
## end

dataset mnist
batchSize batch_5
iteratorDistribution [200, 200, 200, 0, 0, 0, 0, 0, 0, 200]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_1
## end