dataset mnist
batchSize batch_5
iteratorDistribution [500, 500, 500, 500, 0, 0, 0, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 500, 500, 500, 500, 0, 0, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 500, 500, 500, 500, 0, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 500, 500, 500, 500, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 0, 500, 500, 500, 500, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 0, 0, 500, 500, 500, 500, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 0, 0, 0, 500, 500, 500, 500]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [500, 0, 0, 0, 0, 0, 0, 500, 500, 500]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [500, 500, 0, 0, 0, 0, 0, 0, 500, 500]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [500, 500, 500, 0, 0, 0, 0, 0, 0, 500]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [500, 500, 500, 500, 0, 0, 0, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 500, 500, 500, 500, 0, 0, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 500, 500, 500, 500, 0, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 500, 500, 500, 500, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 0, 500, 500, 500, 500, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 0, 0, 500, 500, 500, 500, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 0, 0, 0, 500, 500, 500, 500]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [500, 0, 0, 0, 0, 0, 0, 500, 500, 500]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [500, 500, 0, 0, 0, 0, 0, 0, 500, 500]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [500, 500, 500, 0, 0, 0, 0, 0, 0, 500]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [500, 500, 500, 500, 0, 0, 0, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 500, 500, 500, 500, 0, 0, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 500, 500, 500, 500, 0, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 500, 500, 500, 500, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 0, 500, 500, 500, 500, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 0, 0, 500, 500, 500, 500, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 0, 0, 0, 500, 500, 500, 500]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [500, 0, 0, 0, 0, 0, 0, 500, 500, 500]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [500, 500, 0, 0, 0, 0, 0, 0, 500, 500]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [500, 500, 500, 0, 0, 0, 0, 0, 0, 500]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [500, 500, 500, 500, 0, 0, 0, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 500, 500, 500, 500, 0, 0, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 500, 500, 500, 500, 0, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 500, 500, 500, 500, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 0, 500, 500, 500, 500, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 0, 0, 500, 500, 500, 500, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 0, 0, 0, 500, 500, 500, 500]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [500, 0, 0, 0, 0, 0, 0, 500, 500, 500]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [500, 500, 0, 0, 0, 0, 0, 0, 500, 500]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [500, 500, 500, 0, 0, 0, 0, 0, 0, 500]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [500, 500, 500, 500, 0, 0, 0, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 500, 500, 500, 500, 0, 0, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 500, 500, 500, 500, 0, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 500, 500, 500, 500, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 0, 500, 500, 500, 500, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 0, 0, 500, 500, 500, 500, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 0, 0, 0, 500, 500, 500, 500]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [500, 0, 0, 0, 0, 0, 0, 500, 500, 500]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [500, 500, 0, 0, 0, 0, 0, 0, 500, 500]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [500, 500, 500, 0, 0, 0, 0, 0, 0, 500]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [500, 500, 500, 500, 0, 0, 0, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 500, 500, 500, 500, 0, 0, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 500, 500, 500, 500, 0, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 500, 500, 500, 500, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 0, 500, 500, 500, 500, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 0, 0, 500, 500, 500, 500, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 0, 0, 0, 500, 500, 500, 500]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [500, 0, 0, 0, 0, 0, 0, 500, 500, 500]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [500, 500, 0, 0, 0, 0, 0, 0, 500, 500]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [500, 500, 500, 0, 0, 0, 0, 0, 0, 500]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [500, 500, 500, 500, 0, 0, 0, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 500, 500, 500, 500, 0, 0, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 500, 500, 500, 500, 0, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 500, 500, 500, 500, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 0, 500, 500, 500, 500, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 0, 0, 500, 500, 500, 500, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 0, 0, 0, 500, 500, 500, 500]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [500, 0, 0, 0, 0, 0, 0, 500, 500, 500]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [500, 500, 0, 0, 0, 0, 0, 0, 500, 500]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [500, 500, 500, 0, 0, 0, 0, 0, 0, 500]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [500, 500, 500, 500, 0, 0, 0, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 500, 500, 500, 500, 0, 0, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 500, 500, 500, 500, 0, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 500, 500, 500, 500, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 0, 500, 500, 500, 500, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 0, 0, 500, 500, 500, 500, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 0, 0, 0, 500, 500, 500, 500]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [500, 0, 0, 0, 0, 0, 0, 500, 500, 500]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [500, 500, 0, 0, 0, 0, 0, 0, 500, 500]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [500, 500, 500, 0, 0, 0, 0, 0, 0, 500]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [500, 500, 500, 500, 0, 0, 0, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 500, 500, 500, 500, 0, 0, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 500, 500, 500, 500, 0, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 500, 500, 500, 500, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 0, 500, 500, 500, 500, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 0, 0, 500, 500, 500, 500, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 0, 0, 0, 500, 500, 500, 500]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [500, 0, 0, 0, 0, 0, 0, 500, 500, 500]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [500, 500, 0, 0, 0, 0, 0, 0, 500, 500]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [500, 500, 500, 0, 0, 0, 0, 0, 0, 500]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [500, 500, 500, 500, 0, 0, 0, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 500, 500, 500, 500, 0, 0, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 500, 500, 500, 500, 0, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 500, 500, 500, 500, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 0, 500, 500, 500, 500, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 0, 0, 500, 500, 500, 500, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 0, 0, 0, 500, 500, 500, 500]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [500, 0, 0, 0, 0, 0, 0, 500, 500, 500]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [500, 500, 0, 0, 0, 0, 0, 0, 500, 500]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [500, 500, 500, 0, 0, 0, 0, 0, 0, 500]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [500, 500, 500, 500, 0, 0, 0, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 500, 500, 500, 500, 0, 0, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 500, 500, 500, 500, 0, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 500, 500, 500, 500, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 0, 500, 500, 500, 500, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 0, 0, 500, 500, 500, 500, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 0, 0, 0, 500, 500, 500, 500]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [500, 0, 0, 0, 0, 0, 0, 500, 500, 500]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [500, 500, 0, 0, 0, 0, 0, 0, 500, 500]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [500, 500, 500, 0, 0, 0, 0, 0, 0, 500]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [500, 500, 500, 500, 0, 0, 0, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 500, 500, 500, 500, 0, 0, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 500, 500, 500, 500, 0, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 500, 500, 500, 500, 0, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 0, 500, 500, 500, 500, 0, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 0, 0, 500, 500, 500, 500, 0]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [0, 0, 0, 0, 0, 0, 500, 500, 500, 500]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [500, 0, 0, 0, 0, 0, 0, 500, 500, 500]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [500, 500, 0, 0, 0, 0, 0, 0, 500, 500]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end

dataset mnist
batchSize batch_5
iteratorDistribution [500, 500, 500, 0, 0, 0, 0, 0, 0, 500]
maxTestSample num_200
optimizer adam
learningRate rate_1em3
momentum none
l2Regularization l2_5em3
epoch epoch_50
gar bristle
communicationPattern all
behavior benign
modelPoisoningAttack none
numAttackers num_0
## end